/*** HEADER ***/

header {
  background-color: #1d3557;
  color: #f1faee;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 185px;
  font-family: "KoHo", sans-serif;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-btns {
  width: 370px;

  display: flex;
  justify-content: space-between;
}

#new-btns button {
  font-family: "Koho", sans-serif;
  font-size: 17.5px;
  border-radius: 5px;
  background-color: #e63946;
  border: none;
  color: #f1faee;
  width: 170px;
  padding: 10px;
  cursor: pointer;
}

#new-btns button span {
  position: relative;
  transition: 0.5s;
}

#new-btns button span::after {
  position: absolute;
  content: url(../img/circle-plus.svg);
  opacity: 0;
  right: -30px;
  top: -1px;
  transition: 0.5s;
}

#new-btns button:hover span {
  padding-right: 30px;
}

#new-btns button:hover span::after {
  opacity: 1;
  right: 0;
}

/*** MAIN PAGE ***/

#content-container {
  min-height: calc(100vh - 70px);

  display: flex;
}

/*** NAV BAR ***/

nav {
  min-height: 100%;
  width: 300px;
  background-color: #a8dadc;

  display: flex;
  flex-direction: column;
}

.project-section {
  /* border: solid black 1px; */
  margin: 15px;

  display: flex;
  flex-direction: column;
}

.project-section button {
  background-color: #A8DADC;
  border: none;
  border-radius: 5px;
  font-family: "Krub", sans-serif;
  font-size: 20px;
  margin: 5px;
  display: flex;
}

.project-section button svg,
.project-section button img,
.project-section button span {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.project-section button:hover {
  background-color: #8aced0;
  cursor: pointer;
}

.project-section h2 {
  font-family: "Koho", sans-serif;
  font-size: 25px;
  margin: 10px;
}

/*** MAIN CONTENT ***/

main {
  min-height: 100%;
  width: calc(100vw - 300px);
  background-color: #f1faee;
  display: flex;
  justify-content: center;
}

#cur-project-container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

#cur-project-header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

#cur-project-name {
  font-family: "Koho", sans-serif;
  font-size: 30px;
}

#sort-by {
  font-family: "Krub", sans-serif;
  font-size: 15px;

  display: flex;
  align-items: center;
}

#sort-by label {
  margin-right: 5px;
}

.task {
  font-family: "Krub", sans-serif;
  font-size: 20px;
  margin: 10px 25px 0px 25px;

  display: flex;
  align-items: center;
}

.task-check {
  height: 35px;
  width: 35px;
  border: none;
  background: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.task-check:hover[data-priority="1"] img {
  content: url(../img/circle-check-p1.svg);
}

.task-check:hover[data-priority="2"] img {
  content: url(../img/circle-check-p2.svg);
}

.task-check:hover[data-priority="3"] img {
  content: url(../img/circle-check-p3.svg);
}

.task-check:hover[data-priority="4"] img {
  content: url(../img/circle-check-p4.svg);
}

.task-name {
  flex: 1;
}

.task-due-date {
  flex-basis: 20%;
}

.task-name, .task-due-date {
  margin: 7px;
}

.task-due-date.late {
  color: #E63946;
}

.task-edit, .task-delete {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 5px;
  background: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.task-edit:hover, .task-delete:hover {
  background: #d8f1d0;
}

main * {
  /* border: solid black 1px; */
}