/*** HEADER ***/

header {
  background-color: #1d3557;
  color: #f1faee;
  height: 70px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 185px;
  font-family: "KoHo", sans-serif;
  font-size: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-btns {
  width: 370px;

  display: flex;
  justify-content: space-between;
}

#new-btns button {
  font-family: "Koho", sans-serif;
  font-size: 17.5px;
  border-radius: 5px;
  background-color: #e63946;
  border: none;
  color: #f1faee;
  width: 170px;
  padding: 10px;
  cursor: pointer;
}

#new-btns button span {
  position: relative;
  transition: 0.5s;
}

#new-btns button span::after {
  position: absolute;
  content: url(../img/circle-plus.svg);
  opacity: 0;
  right: -30px;
  top: -1px;
  transition: 0.5s;
}

#new-btns button:hover span {
  padding-right: 30px;
}

#new-btns button:hover span::after {
  opacity: 1;
  right: 0;
}

#content-container {
  min-height: calc(100vh - 70px);

  display: flex;
}

/*** NAV BAR ***/

nav {
  min-height: 100%;
  width: 300px;
  background-color: #a8dadc;

  display: flex;
  flex-direction: column;
}

.task-section {
  /* border: solid black 1px; */
  margin: 15px;

  display: flex;
  flex-direction: column;
}

.task-section button {
  background-color: #A8DADC;
  border: none;
  border-radius: 5px;
  font-family: "Krub", sans-serif;
  font-size: 20px;
  margin: 5px;
  display: flex;
}

.task-section button svg,
.task-section button span {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}

.task-section button:hover {
  background-color: #8aced0;
  cursor: pointer;
}

.task-section h1 {
  font-family: "Koho", sans-serif;
  font-size: 25px;
  margin: 10px;
}

/*** MAIN CONTENT ***/

main {
  min-height: 100%;
  width: calc(100vw - 300px);
  background-color: #f1faee;
}