p {
    font-family: Roboto;
    font-size: 30px;
}

#calculator {
    height: 600px;
    width: 400px;
    border: 5px solid;
    border-radius: 15px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

#display {
    grid-column: 1 / 5;
    border: 2px solid;
    border-radius: 15px;
    margin: 20px;
    
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    overflow: hidden;
}

#display-text {
    padding: 5px;
}

#numbers {
    grid-column: 1 / 4;
    grid-row: 2 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#operators {
    grid-column: 4 / 5;
    grid-row: 2 / 6;
    display: grid;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 70px;
    width: 70px;
    cursor: pointer;
    outline: none;
    /* border: none; */
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

button:active {
    box-shadow: 0 3px #666;
    transform: translateY(2px);
}

#numbers button {
    color: black;
    background-color: #d9d9d9;
}

#numbers button:hover {background-color: white;}

#numbers #button-equals {
    color: white;
    background-color: #4d8bf1;
}

#numbers #button-equals:hover {background-color: #66a0ff;}

#operators button {
    color: #4d8bf1;
    background-color: #404040;
}

#operators button:hover {background-color: #5c5c5c;}