body {
  background-color: #172121;
  color: #f4f2f3;
}

#header {
  /* border: red solid 1px; */
  width: 1200px;
  height: 80px;
  margin: auto;
}

#container {
  position: relative;
}

#background-img {
  width: 100vw;
  max-width: 100%;
}

#content {
  /* border: green solid 2px; */
  background: rgba(23, 33, 33, 0.8);

  width: 1200px;

  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  padding: 20px;
}