body {
  background-color: #172121;
  color: #f4f2f3;
}

#header {
  width: 1200px;
  height: 80px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-title {
  font-family: "Nothing You Could Do", cursive;
  font-size: 70px;
}

#nav-bar {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}

li.crumb {
  display: inline-block;
}

li.crumb a {
  color: #f4f2f3;
  text-decoration: none;
}

li.crumb a:hover {
  color: #F9A03F;
}

.delimiter {
  font-size: 20px;
  padding: 20px;
}

#container {
  position: relative;
}

#background-img {
  width: 100vw;
  max-width: 100%;
}

#content {
  background: rgba(23, 33, 33, 0.8);
  width: 1200px;

  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  font-family: "Montserrat", sans-serif;
  padding: 20px;
}

.content-title {
  font-family: "Nothing You Could Do", cursive;
  font-size: 40px;
  text-align: center;
}

/* border highlights */
/* #header { border: red solid 1px; } */
/* .title { border:orange solid 1px; } */
/* #nav-bar {border: purple solid 1px; } */
/* #container {border: blue solid 1px; } */
/* #content { border:green solid 1px; } */