/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}

/* Links in the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  /* text-align: center; - not needed?*/
  padding: 14px 16px;
  text-decoration: none;
}

/* Dropdown container */
.dropdown {
  float: left;
  /* overflow: hidden; - inherited*/
}

/* Dropdown button */
.dropdown .dropdown-btn {
  /* font-size: 16px; - inherited*/
  border: none;
  /* outline: none; - not needed?*/
  color: white;
  padding: 14px 16px;
  background-color: inherit;

  /* Important for vertical align on mobile phones */
  /* font-family: inherit; */
  /* margin: 0; */
}

/* Red background to nav links on hover */
.navbar a:hover,
.dropdown:hover .dropdown-btn {
  background-color: rgb(175, 13, 13);
}

/* Dropdown content container*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links in the dropdown content container */
.dropdown-content a {
  color: black;
  float: none;
  display: block;
  /* padding: 12px 16px; - inherited*/
  /* text-decoration: none; - inherited*/
  /* text-align: left; - not needed?*/
}

/* Grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
